html {
    height: 100%;
    min-height: 100%;
}

body {
    overflow-x: hidden;
    background-color: #f1f1f1;
    font-family: 'Nanum Gothic', sans-serif !important;
    color: #8f8f8f;
    min-height: 100%;
    width: 100%;  
    }

#logo-col {
    font-family: 'VT323', monospace !important;
    font-weight: 800;
    font-size: 30px;
    color: #f2b04e;
    text-decoration: none;
    white-space: nowrap;
    position: absolute;
    overflow: hidden;
    line-height: 20px;
    padding-top: 1.1rem;
    padding-left: 1.1rem;
}

#header {
    position: sticky !important;
    position: -webkit-sticky !important;
}

#hero-page {
    margin-top: 12.5rem;
    margin-bottom: 15rem;
}

#hero-page h1 {
    color: black;
    font-weight: 600;
}

#icons i::before{
    transition: all 0.2s ease-in-out;
    border-radius: 100%;
    border: solid 1px black;
    display: block;
    font-size: 0.7em;
    height: 2.5em;
    line-height: 2.5em;
    position: relative;
    text-align: center;
    top: 0;
    width: 2.5em;
    margin-top: 0.75em;
    margin-right: 1.5em;
}

#footer{
    width: 100%;
    height: 200px;
    background-color: #b85e45;
    padding-top: 50px;
    margin-top: 50px;
  }


a {
    font-weight: 900;
    color: black;
    text-decoration: none;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    background-color: transparent;
    top: -1.5px
}
a:hover{
    color: inherit; /* Inherits color property from its parent */
    text-decoration: none;
}


