body {
  font: 76%;
  color: #303030;
  font-family: 'Mukta', sans-serif;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
  color: #0292B7;
}

a:hover {
  text-decoration: underline;
}

#container {
  margin: 25px auto 15px auto;
  width: 710px;
  padding: 5px 20px 20px 20px;
}

#top {
  width: 100%;
  margin: 15px 0 0 0;
  border-bottom: 1px solid #d0d0d0;
}

#summarysection {
  line-height: 150%;
  font-size: 1.2em;
  width: 100%;
  padding: 15px 3px 15px 3px;
  border-bottom: 1px solid #d0d0d0;
}

#contentsection {
  line-height: 150%;
  font-size: 1.2em;
  width: 100%;
  padding: 20px 3px 20px 3px;
}

h1 {
  margin: 0 0 15px 0;
  font-size: 2.5em;
  font-weight: normal;
}

p, pre {
  margin: 0 0 0 0;
  line-height: 1.5em;
  text-align: left;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

.right {
  text-align: right;
}

.hide {
  display: none;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  font-size: 16px;
  font-weight: bold;
  display: inline;
}

.subtitleinfo {
  font-size: 16px;
}

.content {
  font-size: 15px;
}

.break {
  padding-top: 10px;
}

@media only screen and (max-width: 500px) {
  #container {
    margin: 25px auto 15px auto;
    width: 90%;
    padding: 5px 20px 20px 20px;
  }
}