@import url('https://fonts.googleapis.com/css?family=Open+sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1.4px solid #ccc;
    margin: 1em 0;
    margin-top: 4%;
    padding: 0;
}

.introduction {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(images/background.jpg) no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
} 

.introduction  .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.content h1 {
    font-family: 'Playfair Display', serif;
    font-style: regular;
    font-size: 300%;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
}

.btn {
    border-radius: 9px;
    font-family: 'Playfair Display', serif;
    color: #f9f2f7;
    font-size: 135%;
    padding: 10px 20px;
    border: solid #f9f2f7 1px;
    text-decoration: none;
}


.title {
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-size: 140%;
    text-align: center;
}


.paragraph {
    font-size: 105%;
    line-height: 140%;
    text-align: justify;
    margin: 3%;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Roboto', Times, serif;
    font-weight: 300;
}

.paragraph-ed {
    font-size: 105%;
    line-height: 140%;
    text-align: justify;
    margin: 3%;
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Roboto', Times, serif;
    font-weight: 300;
    float: left;

}

div .ed-photo {
    padding-right: 5%;
    padding-top: 5%;
    border: 0%;
    float: right;
    width: 20%;
    height: 20%;
}

.paragraph-ed h2 {
    font-size: 130%;
    color: #1D71E9;
    margin-right: 35%;
    margin-top: 4%;
}

.paragraph-ed h3 {
    font-size: 90%;
    color: #EDA411;
    margin-right: 35%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.paragraph-ed h4 {
    font-size: 85%;
    font-style: bold;
    font-weight: 900;
    margin-top: 1%;
    margin-bottom: 1%;
}

.paragraph-ed p {
    margin-right: 35%;
}

html {
    scroll-behavior: smooth;
  }

.contacts{
    text-align: center;
}

div .finalphoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img.finalphoto-pic1 {
    margin-top: 2%;
    margin-left: 20%;
}

img.finalphoto-pic2 {
    margin-top: 2%;
    margin-left: 15%;
}

@media screen and (max-width: 768px) {
    .content h1{
        font-size: 150%;
    }
    .btn {
        font-size: 103%;
        padding: 7px 15px;
    }

    p {
        font-size: 100%;
        line-height: 160%;
    }
}
